body {
    margin: 0px;
}
div {
    box-sizing: border-box;
}
.upwrapper {
    overflow: auto;
    background-color: #CAEAD5;
}

.upleft {
    float: left;
    width: 10%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;

}

.upright {
    float: right;
    width: 90%;
    margin-top: -30px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-top: 0px;
    margin: 0px;
}

.uplogo {
    text-align: center;
}

.uplogo img{
    width: 11%;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.categorias {
    text-align: center;
    margin-bottom: 10px;
}

.categorias a {
    padding-right: 20px;
    padding-left: 20px;
}

.banner {
    overflow: auto;
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px;
}

.bannerp1 {
    font-size: 60px;
    margin-left: 1050px;
    margin-top: 150px;
}

.bannerp2 {
    margin-left: 1050px;
    margin-top: -50px;
    font-size: 20px;
}

.bannera1 {
    background-color: #364142;
    color: white;
    padding: 10px;
    margin-left: 1050px;
    font-size: 20px;
}

.wrapper2 {
    overflow: auto;
    padding: 20px;
}

.add1 {
    float: left;
}

.add1img {
    border: #CAEAD5 3px solid;
}

.add1text {
    border: black 2px solid;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 11px;
    margin-left: 150px;
    margin-right: 150px;
}

.add2 {
    float: left;
    margin-left: 110px;
}

.add2img {
    border: #CAEAD5 3px solid;
}

.add2text {
    border: black 2px solid;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 11px;
    margin-left: 150px;
    margin-right: 150px;
}

.add3 {
    float: right;
}

.add3img {
    border: #CAEAD5 3px solid;
}

.add3text {
    border: black 2px solid;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 11px;
    margin-left: 150px;
    margin-right: 150px;
}

.dscpr {
    text-align: center;
    font-size: 50px;
}

.prs1 {
    overflow: auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.prs1 p{
    margin-top: -0px;
    margin-bottom: -10px;
}
.pr1 {
    float: left;
    width: 25%;
    text-align: center;
}

.pr2 {
    float: left;
    width: 25%;
    text-align: center;
}

.pr3 {
    float: right;
    width: 25%;
    text-align: center;
}

.pr4 {
    float: right;
    width: 25%;
    text-align: center;
}

.banner2 {
    background-image: url("banner-2.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.h1bn2 {
    font-size: 50px;
    margin-left: 80px;
}

.pbn2 {
    font-size: 25px;
    margin-top: -20px;
    margin-left: 80px;
}

.abn2 {
    background-color: #364142;
    color: white;
    padding: 10px;
    margin-left: 80px;
    font-size: 20px;
}

.footer {
    overflow: auto;
    background-color: #CAEAD5;
}

.p1footer {
    float: left;
    width: 33%;
    color: #364142;
    text-align: center;
    margin-top: 30px;
}

.p1footer p{
    margin-bottom: -10px;
}

.p1footer img{
    margin-top: 20px;
}